<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275274982209-3mlm61qhu8svnebave2u4e02o58ag91g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275274982209-3mlm61qhu8svnebave2u4e02o58ag91g</string>
	<key>API_KEY</key>
	<string>AIzaSyCENUN-2MvQijq3BqbvnE2CwuSiNo96BIk</string>
	<key>GCM_SENDER_ID</key>
	<string>275274982209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diploma</string>
	<key>PROJECT_ID</key>
	<string>diploma-b6ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-b6ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275274982209:ios:3b00cf9da6eb79e5c4b7c0</string>
</dict>
</plist>